.background-image {
    background-image: url('./pexels-te-lensfix-1371360.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}

.banner-bold {
    font-size: 50px;
    font-weight: bold;
    color: antiquewhite;
    padding-top: 55vh;
    padding-left: 20vh;
}

#topline {
    font-size: 25px;
}

.covid-btn {
    font-size: .875rem;
    line-height: 20px;
    border: 0.5px solid #8e8e93;
    color: #4c4c4c;
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 4px;
}

.covid-btn:hover {
    color: #1882ff;
    text-decoration: none;
    transition: color .3s ease-in-out;
    border-color: #1882ff;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #8e8e93;
}

.btn-grp {
    margin-left: 40%;
}

.foot-text {
    font-size: 20px;
    text-align: center;
}

.by-travatrip-text {
    font-size: 20px;
    margin-left: 15px;
    text-align: center;
}

.image {
    width: 492px;
    height: 180px;
}

.card-img {
    width: 300pxpx;
    height: 400px;
}